.about__container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  align-items: center;
  grid-gap: 56px;
  grid-template-columns: 464px 1fr;
}

@media (max-width:1279px) {
  .about__container {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-gap: 4%;
    grid-template-columns: 33% 1fr;
 }
}

@media (max-width:600px) {
  .about__container {
    padding-top: 32px;
    padding-bottom: 80px;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}