.about__title {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 51px 0 0 0;
}

@media (max-width:1279px) {
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin:0;
 }
}