.search-results__more-link {
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 64px;
    color: #1A1B22;
    padding:0 84px;
    margin-top:64px;
    background-color: white;
    border-radius: 32px;
    text-decoration: none;
}