.search-results__container {
  background: #F5F6F7;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width:1279px) {
  .search-results__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width:600px) {
  .search-results__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}