.article__title {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin:0 0 16px 0;
}

@media (max-width:1279px) {
  .article__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom:10px;
 }
}