.search__input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display:block;
  line-height: 64px;
  border-radius: 100px;
  border: none;
  flex-grow:1;
  padding: 0 24px;
}

@media (max-width:1279px) {
  .search__input {
    line-height: 56px;
  }
}

@media (max-width:600px) {
  .search__input {
    padding: 0 16px;
  }
}
