.footer_container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:730px) {
  .footer_container {
    align-items: flex-start;
    display:grid;
    grid-template-columns: auto auto;
  }
}