.width-corrector {
  padding:0 7.5% 0 7.5%;
}

@media (max-width:1279px) {
  .width-corrector {
    padding:0 5.2% 0 5.2%;
  }
}

@media (max-width:600px) {
  .width-corrector {
    padding:0 16px 0 16px;
  }
}