.favorites__title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 40px 0 28px;
}

@media (max-width:1279px) {
  .favorites__title {
    font-size: 14px;
    margin: 24px 0 16px;
 }
}